<%
const search = new _.EcomSearch()
search
  .setCategoryNames([_.state.name])
  .setSortOrder(opt.sort)
let items
try {
  await search.fetch()
  items = search.getItems()
} catch (err) {
  if (err.response && err.response.status === 404) {
    console.error(err)
  } else {
    throw err
  }
}
const categoryNames = [_.state.name]

if (items && !items.length) {
  const childCategories = _.categories.filter(({ parent }) => {
    return parent && parent._id === _.state._id
  })
  if (childCategories.length) {
    childCategories.forEach(({ name }) => {
      categoryNames.push(name)
    })
    search
      .setCategoryNames(categoryNames)
      .setSortOrder(opt.sort)
    await search.fetch()
    items = await search.getItems()
    
  }
}

const model = _.state.name.replace('Capas para ', '').replace('New! ', '').replace(' (todos modelos)', '')
const itemQuantity = items.filter(item => {
  if (Array.isArray(item.variations) && item.variations.length) {
    return item.variations.some(variation => variation.specifications['modelo'][0].text === model && variation.quantity > 0)
  }
  return item
})
const diff = items.filter(({ _id: id1 }) => !itemQuantity.some(({ _id: id2 }) => id2 === id1))

items = [...itemQuantity, ...diff]
%>

<div class="category-retail">
  <%- await include('@/sections/inc/retail-grid', {
    _, opt: {
      items,
      search,
      category_names: categoryNames,
      sort: opt.sort
    }
  }) %>
</div>
