<%
if (_.state.body_html) {
  const className = _.route.resource === 'categories' ? 'category'
    : _.route.resource.slice(0, -1)
  %>
  <section class="<%= className %>-description my-4 my-lg-5">
    <div class="container">
      <div class="html-clearfix">
        <%- _.state.body_html %>
      </div>
      <% if (className == "category"){ %>
        <button class="see-more" onclick='$(".category-description").toggleClass("expand");var text = $(this).text();$(this).text(text == "Saiba Mais" ? "Fechar" : "Saiba Mais");'>Saiba Mais</button>
      <% } else if (className == "collections") { %>
        <button class="see-more" onclick='$(".collections-description").toggleClass("expand");var text = $(this).text();$(this).text(text == "Saiba Mais" ? "Fechar" : "Saiba Mais");'>Saiba Mais</button>
      <% } %>
    </div>
  </section>
<% } %>
