<% if (_.state.body_html) { %>
  <section id="product-description" class="product-description my-4 my-lg-5">
    <div class="container">
      <p class="lead">
        <a href="#description" name="description">#</a>
        <%= _.dictionary('productDescription') %>
      </p>
      <div class="html-clearfix">
        <style>@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&amp;display=swap);.main{padding-bottom:0 !important;} .product-page-content{padding:0;margin:0}#myTabContent{background-color:white;padding:0;margin:0}.imgAuto{width:100%;height:auto}.txtAuto{padding:50px 0;text-align:center}.title{padding-bottom:30px;letter-spacing:3px;font-size:2em;font-weight:700;text-transform:uppercase;font-family:Roboto,sans-serif}.text{font-size:1.4em;font-family:Roboto,sans-serif;padding:0 200px}@media (max-width: 1068px){.text{padding:0 50px !important;}}@media (min-width: 1068px){.text{padding:0 500px}}@media (min-width: 768px){.title{font-size:2.5em}}@media (max-width:600px){.desktop{display:none}}@media (min-width:600px){.mobile{display:none}}.text{padding:0 250px}}</style>
        <%- _.state.body_html.replace(
          /<img ([^/>]+)?src=['"]([^'"]+)['"]([^/>]+)?\/?>/g,
          '<img class="lozad" data-src="$2" $1 $3>'
        ).replace(
          /<img class="lozad" data-src="([^'"]+)"([^>]+)class=['"]([^'"]+)['"]([^/>]+)?>/g,
          '<img class="lozad $3" data-src="$1" $2 $4>'
        ).replace(
          /<iframe src="([^"]+)"([^>]+)>/g,
          '<iframe class="lozad" data-src="$1"$2>'
        ).replace(
          /<video class=['"]([^'"]+)['"]([^/>]+)? ([^/>]+)?src="([^"]+)"([^>]+)>/g,
          '<video class="lozad $1" data-src="$4"$2 $3>'
        ) %>
      </div>
    </div>
  </section>
<% } %>

<%- await include('@/helpers/widgets-append', {
  _, opt: {}, field: 'productDescriptionAppend'
}) %>
