<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
    <% opt.stamps.forEach(({ src, alt, link, ...dimensions }) => {
      let { width, height } = _.tryImageSize(src, dimensions)
      if (!width) {
        switch (src) {
          case '/img/uploads/ativo-12.png':
            width = 30
            height = 49
            break
          case '/img/uploads/google-selo-1-.webp':
            width = 82
            height = 30
            break
          case '/img/uploads/selo-norton-secured-1-.webp':
            width = 82
            height = 44
            break
          case '/img/uploads/selo-ssl.webp':
            width = 82
            height = 39
            break
        }
      }
      const imgHtml = `<img data-src="${(_.assetsPrefix || '')}${src}" alt="${alt}" class="lozad fade"` +
        (width ? ` data-preload width="${width}" height="${height}">` : '>')
      %>

      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <%- imgHtml %>
          </a>
        </li>
      <% } else { %>
        <li>
          <%- imgHtml %>
        </li>
      <% } %>
    <% }) %>

    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>
