<div class="minicart">
    <a-backdrop
      :is-visible="isVisible"
      @hide="toggle(false)"
    />
  
    <transition
      enter-active-class="animated slideInRight"
      leave-active-class="animated slideOutRight"
    >
      <aside
        v-show="isVisible"
        class="minicart__aside card shadow"
      >
        <slot name="header">
          <header class="card-header">
            {{ i19myShoppingCart }}
            <button
              type="button"
              class="close"
              :aria-label="i19close"
              @click="toggle"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </header>
        </slot>
  
        <article class="minicart__body card-body">
          <transition-group enter-active-class="animated fadeIn slow">
            <div 
              class="minicart__shipping-banner"
              key="shipping-banner"
            >
              <div data-v-21d04706="" class="shipping-banner">
                <div data-v-21d04706=""><i class="i-shipping-fast"></i></div>
                <div data-v-21d04706="" class="shipping-banner-text text-center">Aproveite <strong style="color:#F15B41">frete
                    grátis</strong> a partir de R$ 120,00!</div>
                <hr>
              </div>
            </div>
            <div
              class="minicart__list"
              v-if="cart.items.length"
              key="list"
            >
              <slot
                name="list"
                v-bind="{ items: cart.items }"
              >
                <transition-group
                  enter-active-class="animated fadeInDown"
                  leave-active-class="animated fadeOutUp faster position-absolute"
                >
                  <cart-item
                    v-for="item in cart.items"
                    :key="item._id"
                    :item="item"
                  />
                </transition-group>
              </slot>
            </div>
  
            <div
              v-else
              class="minicart__empty"
              key="empty"
            >
              <slot name="empty">
                <p class="lead text-muted">
                  {{ i19emptyCart }} ...
                </p>
                <a
                  class="btn btn-block btn-primary"
                  href="#"
                  @click.prevent="toggle"
                >
                  <i class="i-arrow-left mr-1"></i>
                  {{ i19continueShopping }}
                </a>
              </slot>
            </div>

            <div 
                class="minicart__buy-together"
                key="buy-together"
                v-if="baseProduct"
            >
                <buy-together
                    :base-product="baseProduct"
                    :selected-products.sync="buyTogetherProducts"
                    :discount-together.sync="discountBuyTogether"
                    :selected-model="selectedModel"
                    :is-cart="true"
                />
            </div>
  
            <div
              class="minicart__shipping"
              v-if="cart.items.length && hasShippingCalculator"
              key="shipping"
            > 
              <hr>
              <shipping-calculator
                class="minicart__shipping-calculator"
                :can-select-services="true"
                :shipped-items="cart.items"
                @select-service="selectShippingService"
              />
            </div>

            <div
              class="minicart__discount"
              v-if="cart.items.length && selectedShippingPrice >= 0"
              key="discount"
            > 
              <hr>
              <discount-applier
                v-if="isValidCart && selectedShippingPrice >= 0"
                class="cart__discount"
                ref="child"
                :amount="amount"
                :is-quickview="true"
                :is-coupon-applied="isCouponApplied"
                :coupon-code.sync="localDiscountCoupon"
                @set-discount-rule="setDiscountRule"
                :modules-payload="modulesPayload"
              />
              <hr>
            </div>

            <div
              class="minicart__summary"
              v-if="amount.total >= 0"
              key="summary"
            > 
              <hr>
              <hr>
              <table data-v-439aed5c="" class="table table-borderless table-sm w-100">
                <tr data-v-439aed5c="">
                  <td data-v-439aed5c="" align="left"><span data-v-439aed5c=""><strong>Subtotal</strong></span></td>
                  <td data-v-439aed5c="" align="right" class=""><!----><strong data-v-439aed5c="" class="uppercase nowrap">{{ formatMoney(amount.subtotal) }}</strong></td>
                </tr>
                <tr data-v-439aed5c="">
                  <td data-v-439aed5c="" align="left"><span data-v-439aed5c=""><strong>Frete</strong></span></td>
                  <td data-v-439aed5c="" align="right" class="shipping-fee"><!----><strong data-v-439aed5c=""
                      class="uppercase nowrap">{{ formatMoney(amount.freight) }}</strong></td>
                </tr>
                <tr data-v-439aed5c="">
                  <td data-v-439aed5c="" align="left"><strong>Desconto</strong></td>
                  <td data-v-439aed5c="" align="right" class="nowrap discount"><strong>{{ formatMoney(amount.discount) }}</strong></td>
                </tr>
                <tr data-v-439aed5c="">
                  <td data-v-439aed5c="" align="left"><strong>Total</strong></td>
                  <td data-v-439aed5c="" align="right" class="nowrap total"> <strong>{{ formatMoney(amount.total) }}</strong></td>
                </tr>
              </table>
            </div>
          </transition-group>
        </article>
  
        <slot name="footer">
          <footer
            class="card-footer"
            v-if="cart.subtotal || cart.items.length"
          >
            <div class="minicart__summary">
              <span>{{ i19subtotal }}</span>
              <div class="minicart__subtotal">
                <a-prices
                  :product="{ price: total || cart.subtotal }"
                  :is-literal="true"
                />
              </div>
            </div>
  
            <a-link
              class="minicart__btn-checkout btn btn-block btn-primary"
              role="button"
              :href="checkoutUrl"
            >
              <i class="i-check mr-1"></i>
              {{ i19checkout }}
            </a-link>
            <a-link
              class="minicart__btn-cart btn btn-block btn-outline-secondary"
              role="button"
              :href="cartUrl"
            >
              {{ i19seeCart }}
            </a-link>
  
            <button
              type="button"
              class="minicart__btn-back btn btn-block btn-sm btn-link d-md-none"
              @click="toggle"
            >
              <i class="i-arrow-left mr-1"></i>
              {{ i19continueShopping }}
            </button>
          </footer>
        </slot>
      </aside>
    </transition>
  </div>
  