// Add your custom CSS here.
@font-face{font-family:flama basic;font-style:normal;font-weight:600;src:local('Flama Basic'),url(/fonts/Flama-Basic.woff) format('woff')}
@font-face{font-family:flama bold;font-style:normal;font-weight:750;src:local('Flama Bold'),url(/fonts/Flama-Bold.woff) format('woff')}
@font-face{font-family:flama light italic;font-style:normal;font-weight:525;src:local('Flama Light Italic'),url(/fonts/Flama-LightItalic.woff) format('woff')}
@font-face{font-family:flama medium;font-style:normal;font-weight:650;src:local('Flama Medium'),url(/fonts/Flama-Medium.woff) format('woff')}

.menu-topo {
  height: 40px;
  padding-left: 15px;
  padding-top: 7.8px;
  color: #fff;
  background-color: #000;
  text-align: center;
  .menu__btn--close i {
    color: #fff !important;
  }
  span {
    font-weight: bold;
    text-align: center;
  }
}

.menu__item.has-subcategory {
  display: flex;
  justify-content: space-between;
}

.menu__btn.btn.collapsed {
  color: #fff !important;
}
.footer address {
color: #fff !important;
}
// modificacao storefront antes da nova versão
@media(max-width: 767px) {
  .gallery__thumbs {
    flex-wrap: wrap
  }
  .gallery__item {
    margin: 0 15px 15px 0;
  }
}

.product-card__prices{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-card__pictures img{
  max-height: unset!important;
}

.product-card{
  padding-bottom: 38px;
}

.product-card__pictures{
  width: 100%!important;
  //height: auto!important;

  img{
    width: 100%!important;
    //height: auto!important;
    max-height: unset!important;
    //content: url(/img/uploads/logo.png);
  } 
}

.footer {
  &__title, & a, & i, &__credits, & address {
    color: #fff;
  }
  &__social {
    & .fa {
      &-facebook, &-instagram {
        font-size: var(--font-size-lg)
      }
    }
  }
  background: #2b2938;
}

.product-card--small{
  .product-card__name{
    text-align: center;
  }
}

.product-card--small .product-card__name{
  --max-lines: 3;
  height: 58px;
}

//desktop normal size

// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {

}
// apenas mobile
@media screen and (max-width: 480px) {
#footer-pages {
  display: block
}
}
.header__nav a {
  padding-right: 1rem;
}
#product-description .container {
  max-width: 100%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.collection-shelf .product-card__name, .collection-shelf .product-card__prices, .category-retail .product-card__name, .category-retail .product-card__prices, .page--search .product-card__name, .page--search .product-card__prices {
  text-align: center;
}
#page-pages\/sobre .extra-page .container {
  max-width: 100% !important;
  width: 100%
}
.variations__grid--modelo option:disabled::after {
  content: ' (Esgotado)'
}
.top-bar {
  & a, & i {
    color: #fff;
  }
}
.treatimage img {
  width: 144px;
  height: 144px;
}
.header {
  & i {
    color: #2b2938
  }
}
.cookieconsent {
  position: fixed;
  bottom: 0;
  padding: 1rem .5rem;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0,0,0,.68);
  z-index: 999;
  width:100%;
  margin: 0 auto;

  .text {
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
  }

  button {
    &:hover {
      color:#fff;
      background:#2B2938;
    }
    color: #fff;
    font-weight: 700;
    display: block;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 10px 15px;
    font-size: 12px;
    border: 1px solid #2B2938;
    background: #2B2938;
    border-radius: 0;
    outline: none;
    transition:all .2s
  }

  .row{
    display:flex;
    align-items:center;
  }

  @media (max-width: 991.98px) {
    .product-buy-button {
      width: 100%;
      margin-top:15px;
    }
    padding:10px;
  }
}

/*Footer
  Seri.e Design*/
.footer{
  &__evolutionBy{
    img{
      filter: brightness(0) invert(1);
      max-height: 50px;
    }
  }
}
//
.list-group .shipping-calculator__option{
  .shipping-line>strong{
    min-width: 110px;
  }
  > small {
    @media screen and (min-width: 1200px) {
      position: absolute;
      right: -11px;
      top: 3px;
    }

  }
}

.list-group-item-action[sedex-tim] {
  .shipping-calculator__option {
    .shipping-line {
      display: flex;
      align-items: baseline;
      @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
      }
      > strong.mr-2 {
        max-width: 100%;
        @media screen and (min-width: 768px) {
          width: 70%;
        }
      }
    }
  }
  .green{
    font-weight: 500;
    color: green;
  }
  &.active{
    .green{
      color: white;
    }
  }
}


#checkout .list-group-item-action[sedex-tim] {
  .shipping-line {
    margin-right: 30px;
    .green{
      margin-left: 5px;
      display: inline-block;
    }
    @media screen and (min-width: 768px) {
      width: 70%;
      br:not(.imutable){
        display: none;
      }
    }
  }
}
#cart .list-group-item-action[sedex-tim] .shipping-line {
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}
.search__box .search-engine__item .product-card__pictures {
  img {
    max-height: 125px;
  } 
}
.tokenTim_page{
  .shipping-calculator__free-from-value{
    display: none;
  }
}
//photo product
@media (max-width: 991px) {
    #page-products #product-block #product {
        counter-reset: pictureCount;
    }
    
    #page-products #product-block .gallery__item {
        visibility: hidden;
    }

    #page-products #product-block .gallery__item:not(.gallery__item--video) {
        counter-increment: pictureCount;
    }
    
    #page-products #product-block .gallery__item--selected {
        position:absolute;
        transform: translateX(-17px) skew(-20deg);
        left: 45%;
    }
    
    
    #page-products #product-block .gallery__item--selected::before {
        visibility: visible;
    }
      
}

@font-face {
    font-family: "Flama-Basic";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Flama-Basic") format("opentype");
  }
  @font-face {
    font-family: "Flama-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("https://fonts.animaapp.com/Flama-Medium") format("opentype");
  }
  @font-face {
    font-family: "Flama-Light";
    font-style: normal;
    font-weight: 300;
    src: url("https://fonts.animaapp.com/Flama-Light") format("opentype");
  }
  @font-face {
    font-family: "Flama-BasicItalic";
    font-style: italic;
    font-weight: 400;
    src: url("https://fonts.animaapp.com/Flama-BasicItalic") format("opentype");
  }


  @media(min-width: 990px) {
    .glide__slide.video video {
      height: 427px;
      width: 100%;
    }
    #video-play {
      position: absolute;
      top: 35px;
      left: 40px;
      color: #fff;
    }
    .gallery__item--video {
      opacity: 1;
    }
  }

  @media(max-width: 576px) {
    .gallery__item--video {
      visibility: visible !important;
      font-size: unset !important;
      margin-top: unset !important;
      position: absolute;
      left: 30%;
      top: 5px;
    }
  }

  @media(min-width: 990px) and (max-width: 1400px) {
    .header__submenu {
      max-height: 500px;
      overflow-y: scroll;
    }
  }

  
.product-card {
  &__colors {
    line-height: 0;
    margin-top: var(--spacer-1);
    justify-content: center;
    bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    width: 100%;
    overflow-x: auto;
    @media (min-width: 1024px) {
      overflow-x: hidden;
    }
  }
  &__color-option {
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
    border: 1px solid;
    width: 20px;
    flex: 0 0 20px;
    height: 20px;
    &--plus {
      border-color: #111;
      background: #111;
      color: #fff;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
    }
  }

  &__pictures {
    aspect-ratio: 0.95;
    width: 100%;
    height: auto;
    .picture {
      width: 100%;
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
        max-height: none;
        width: auto;
      }
    }
  }

  &--small {
    .product-card__pictures {
      min-height: 250px
    }
  }
}
.product-card__buy.fade {
  opacity: 1;
}

.buy-together__discount {
  text-align: left;
}

.buy-together__item__link {
  width: 90%;
}

.buy-together__item__checkbox {
  width: 10%;
}

.buy-together__list--new {
  li {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  padding-left: 0;
}

.buy-together__item__thumbnail--new {
  min-height: 60px;
  min-width: 70px;
  img {
    width: 60px;
    height: auto;
  }
}

.buy-together__item__price--new {
  min-width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-together__item__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    width: 30px;
    height: 30px;
  }
}

.buy-together__item__name--new {
  flex-grow: 1;
}
.buy-together__item__price--new .prices__value {
  font-size: 15px
}
.product-card--out-of-stock-variation {
  opacity: .5;
}

.product-card--small {
  .prices__value, .prices__value + span {
    width: 100%;
  }
  .product-card__buy {
    width: 100%;
    text-align: center;
    button {
      width: 100%;
    }
    i {
      color: #fff;
    }
  }
}

#sub-61dc87720c7c727225fe9291, #sub-61dc878f0c7c727225fe92c8 {display: none !important;}

#page-products[data-resource-id="6544ed9e2cd6b6595995bbf1"] option[disabled="disabled"] {
  display: none;
}
.buy-together__item__offer-stamp {
  padding: 3px;
}

#topSlide  li,
#topSlide a{
  text-align:center;
}

.product-card__offer-stamp {
  position: inherit !important;
  color: rgb(255, 255, 255) !important;
  background: rgb(204, 12, 57) !important;
  border-radius: 2px;
  padding: 4px 6px;
  margin-right: 6px;
}

.product-card__link {
  text-decoration: none !important;
}

.product-card__offer {
  margin-top: 10px !important;
  text-align: center;
}

.product-card__offer-text {
  color: rgb(204, 12, 57) !important;
}

.shelfs-nav__title {
  font-weight: Bold;
  letter-spacing: -1px;
  font-size: 26px;
  margin: var(--spacer-4) auto;
  padding: 0 4rem;
  max-width: var(--content-max-width);
}

.shelfs-nav__tab {
  text-align: center;
}
.shelfs-nav__tabs li {
  min-width: unset !important;
}

#title-site {
  letter-spacing: -1px;
  font-size: 2.34375rem;
  text-align: left;
  display: block;
  line-height: 32px;
  &::before {
    height: 0;
  }
}

.shelfs-nav__title {
  text-align: left;
}

.shelfs-nav__tab {
  border-bottom: none;
  padding: 20px;
  border: 1px solid #181818;
  border-radius: 100px;
  opacity: 1;
  h4 {
    margin-bottom: 0;
    color: #181818;
  }
  &.active {
    background-color: #181818;
    h4 {
      color: #fff !important;
    }
  }
}

.shelfs-nav__tab:not(.active) {
  opacity: 1;
}
/*

.header, #categories-nav, .header__submenu, .minicart__aside .card-header {
  background: #000 !important;
  border-bottom: 1px solid #000 !important;
  color: #fff !important;
}

.header a, .header i {
  color: #fff !important;
}

.header__search-btn i, .cart-item *, .cart-item__name a, a.minicart__btn-cart {
  color: #000 !important;
}

#categories-nav a, #categories-nav i, #accordion-menu i, .minicart__aside .close {
  color: #fff !important;
}
.app__header {
  background: #000 !important;
  border-bottom: 1px solid #000 !important;
  color: #fff !important;
}
.app__contact span {
  color: #fff !important;
}
*/
.product-description {
  .main {
    padding-bottom: 0 !important;
  }
  
  .product-page-content {
    padding: 0;
    margin: 0
  }
  
  #myTabContent {
    background-color: white;
    padding: 0;
    margin: 0
  }
  
  .imgAuto {
    width: 100%;
    height: auto
  }
  
  .txtAuto {
    padding: 50px 0;
    text-align: center
  }
  
  .title {
    padding-bottom: 30px;
    letter-spacing: 3px;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Roboto, sans-serif
  }
  
  .text {
    font-size: 1.4em;
    font-family: Roboto, sans-serif;
    padding: 0 200px
  }
  
  @media (max-width: 1068px) {
    .text {
      padding: 0 50px !important;
    }
  }
  
  @media (min-width: 1068px) {
    .text {
      padding: 0 500px
    }
  }
  
  @media (min-width: 768px) {
    .title {
      font-size: 2.5em
    }
  }
  
  @media (max-width:600px) {
    .desktop {
      display: none
    }
  }
  
  @media (min-width:600px) {
    .mobile {
      display: none
    }
  }
  
  .text {
    padding: 0 250px
  }

  .main{padding-bottom:0 !important;} 
  .product-page-content{padding:0;margin:0}
  #myTabContent{background-color:white;padding:0;margin:0}.imgAuto{width:100%;height:auto}.txtAuto{padding:50px 0;text-align:center}.title{padding-bottom:30px;letter-spacing:3px;font-size:2em;font-weight:700;text-transform:uppercase;font-family:Roboto,sans-serif}.text{font-size:1.4em;font-family:Roboto,sans-serif;padding:0 200px}@media (max-width: 1068px){.text{padding:0 50px !important;}}@media (min-width: 1068px){.text{padding:0 500px}}@media (min-width: 768px){.title{font-size:2.5em}}@media (max-width:600px){.desktop{display:none}}@media (min-width:600px){.mobile{display:none}}.text{padding:0 250px}
 
  
}

.search-engine__aside .card-body {
  display: flex;
  flex-direction: column
}
.search-engine__filter--price {
  order: 2
}
.search-engine__filter--marca_do_aparelho {
  order: -8
}
.search-engine__filter--modelo {
  order: -8;
}
.search-engine__filter--colors {
  order: -7;
}

.search-engine__filter--Brands {
  order: 1
}


@media (max-width: 991px) {
  .count-picture .first {
    padding: 5px;
    box-sizing: border-box;
    background: lightgray;
    color: var(--primary-yiq);
    height: 35px;
    min-width: 30px;
    border-radius: 3px;
    font-size: 1rem;
    display: inline-block;
    border: 1px solid var(--primary-yiq);
  }
  .count-picture .last {
    padding: 5px;
    display: inline-block;
    box-sizing: border-box;
    background: lightgray;
    color: var(--primary-yiq);
    height: 35px;
    min-width: 30px;
    font-size: 1rem;
    width: 30px;
    border-radius: 3px;
    border: 1px solid var(--primary-yiq);
  }

  .gallery__thumbs .gallery__item {
    display: none !important;
  }
}

.color-label {
  min-height: 1.5rem;
  max-height: 1.5rem;
  min-width: 1.5rem;
  max-width: 1.5rem;
  border-radius: 100%;
  display: inline-block;
  border: solid .4px #000
}

.search-engine__option {
  display: flex !important;
  margin: 3px;

  .custom-control-label {
    display: flex;
  }
  
  .custom-control-label span {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media(max-width: 767px) {
  #topSlide li:last-child a {
    font-size: 12px !important;
  }
}

.new-category {
  background-color: #001428;
  color: #fff;
  border-radius: 7px;
  padding: 0 6px 1px;
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
  position: relative;
  top: -1px;
}


.search-engine__filter .text-truncate {
  white-space: unset !important;
}

.tec--carousel__item__thumb__image {
  border-radius: 8px;
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.tec--carousel__item__thumb {
  margin: 0;
  position: relative;
}

.swiper-lazy, .lazyload, .lazyloading {
  overflow: hidden;
  position: relative;
}

.tec--carousel__item__subtitle:not(:empty) {
  margin-bottom: 8px;
}

.tec--carousel__item__subtitle {
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 20px;
}

.tec--carousel__item {
  position: relative;
}

.tec--carousel__item--template3, .tec--carousel__item--template2, .tec--carousel__item--template4 {
  align-items: center;
  display: flex;
  @media(max-width: 600px) {
    flex-direction: column;
  }
}

.tec--carousel__item__title
{
  color: #030303;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.tec--carousel__item__thumb__image {
  min-width: 164px;
  margin-right: 10px;
  margin-bottom: 10px;
  @media(max-width: 600px) {
    height: auto !important;
    width: 100% !important;
  }
}

.product-card__name {
  --max-lines: 2 !important;
}

.spec-search {
  font-size: 0.875rem !important;
}

.magsafe {
  color: #f15b41;
  display: flex;
  align-items: center;
}

.product > div + div.row > .col-12.col-md-6 {
  height: 20px;
}

h1.product__name {
  font-size: 2rem !important;
}

h1.product__name.h1__ssr {
  font-size: 1.2rem !important;
}

.product-card {
  padding: 0.5rem 0 !important;
}

.search-engine__retail .row .col-6.col-md-4.col-lg-3 {
  padding-left: 5px !important;
  padding-right: 5px !important;
  .product-card {
    padding-bottom: 38px !important;
  }
}

.product-card__prices .prices__discount {
  display: flex;
  align-items: baseline;
  justify-content: center;
  small {
    margin-left: 5px;
  }
}

.magsafe {
  text-align: center;
  font-size: 15px;
}
.magsafe img {
  height: 15px
}

@media (max-width: 575.98px) {
  #search-bar {
    display: block !important;
    height: 46px !important;
    transition: none;
    #search-input {
      border: 1px solid;
    }
  }
}

.menu__list {
  padding-top: 0px !important;
}

@media(max-width: 600px) {
  button.search-engine__aside-open {
    display: none !important;
  }
}

.search-engine__nav {
  @media(max-width: 600px) {
    position: sticky;
    top: 0;
    z-index: 900;
  }
  .container {
    flex-direction: column;
    width: 100%;
    .search-engine__toggles {
      width: 100%;
      justify-content: space-between;
      button {
        font-weight: bold;
      }
      & > button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid;
        width: 48%;
      }
      .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        border: .5px solid;
        border-radius: 5px;
        width: 48%;
      }
    }
  }
}

.faq_list{
  .list{
      display:flex;
      flex-direction: column;
  }
  .faq_list-item{
      .hat{
          .a_text{
              letter-spacing: 0.05em;
          }
          button{
              border:0;
              padding:0;
              background:transparent;
              svg{
                  transition: all .5s;
              }
          }
          border: 1px solid #F8F8F8;
      }
      .content{  
          letter-spacing: 0.05em;         
          height:0;
          max-height:0;
          overflow: hidden;
          transition: padding .5s, max-height .5s;
          background:#f8f8f8;
          padding: 0rem;
          margin-top: -.5rem;
          box-sizing: border-box;
      }
  }
  .faq_list-item.visible{
      .hat{
          button{
              border:0;
              padding:0;
              background:transparent;
              svg{
                  transform: rotate(315deg);
              }
          }            
      }
      .content{
          transition: padding .5s, max-height .5s;
          max-height:180px;
          overflow-y: auto;
          height:auto;
          padding: 2rem;
      }
  }
}
.text-center {
  text-align: center;
}
.mx-auto {
  margin-right: auto;
  margin-left: auto;
}


.shipping-calculator__services::before {
  content: '⚠️ Devido as fortes chuvas no Rio Grande do Sul, a entrega poderá sofrer atrasos.';
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
  padding: 10px;
  display: flex;
  margin-bottom: 3px;
}

.justify-content-between {
  justify-content: space-between;
}

.faq_section-title h2 {
  margin-top: 15px;
}

#form-b2c-formulario-pesquisa-de-satisfacao-de-compra-no-site-e839da08110213fb4bcb {
  display: flex;
  justify-content: center
}

#storefront-app:has(#confirmation) + #b2c-formulario-pesquisa-de-satisfacao-de-compra-no-site-e839da08110213fb4bcb {
  display: flex !important;
  justify-content: center;
}