<%
if (opt.img) {
  const sources = [{ src: opt.img }]
  %>

  <div class="banner">
    <a
      href="<%= opt.link || 'javascript:;' %>"
      aria-label="<%= opt.alt %>"
    >
    <video autoplay loop style="max-width: 100%; width: 100%;">
      <source class="desktop" media="(min-width: 576px)" src="<%= opt.img.replace('.webm', '') %>.webm" type="video/webm">
      <% if (opt.mobile_img) { %>
        <source class="mobile" media="(min-width: 100px)" src="<%= opt.mobile_img.replace('.webm', '') %>.webm" type="video/webm">
      <%
      }
      %>
    </video>
    
    </a>
  </div>
  <%
}
%>
